body{
	color: white;
	text-align: center; 
	background-color: #011627;
	font-size: 1em;
	border: 50px solid turquoise;
	border-top: 0px;
	font-family: 'Montserrat';
	margin: 0px;
}

form{
	/*margin: 20px 250px 5px 250px;*/
	background-color: #011627;
}

h1{
	color: white;
	font-style: bold;
}

h2{
	color: white;
	font-style: bold;	
}

p{
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 20%;
}

.userinp{
	margin: 0px;
	padding: 0px;
}

#sign{
	border-radius: 25px; 
	background-color: #FF9F1C;
	width: 150px;
	height: 80px;
	border: 2px groove white; 
	margin: 20px 0px 20px 0px;
	font-size: 1.5em;
}